{{ define "left_menu" }}

<div class="left-menu">
    <ul class="ul-left-menu">
        <li><a class="{{ if eq .data.cid 0 }} active {{ end }}" href="/{{ .controller }}.html"><div>公司产品</div></a></li>
        <li><a class="{{ if eq .data.cid 1 }} active {{ end }}" href="/{{ .controller }}/category.html?cid=1"><div>防火门系列</div></a></li>
        <li><a class="{{ if eq .data.cid 2 }} active {{ end }}" href="/{{ .controller }}/category.html?cid=2"><div>室内门系列</div></a></li>
        <li><a class="{{ if eq .data.cid 3 }} active {{ end }}" href="/{{ .controller }}/category.html?cid=3"><div>非标门系列</div></a></li>
        <li><a class="{{ if eq .data.cid 4 }} active {{ end }}" href="/{{ .controller }}/category.html?cid=4"><div>银质门系列</div></a></li>
        <li><a class="{{ if eq .data.cid 5 }} active {{ end }}" href="/{{ .controller }}/category.html?cid=5"><div>防盗门系列</div></a></li>
    </ul>
</div>

{{ end }}