{{ define "main_panel" }}

<div class="carousel-single"><img src="{{ .static }}/img/adv_1.jpg"/></div>

<div class="container">

{{ template "left_menu" . }}

    <div class="main-panel">
        <ul class="ul-block3 ul-cert">
            <li>
                <div class="title">通道门03</div>
                <div class="photo"><a href="#"><img src="{{ .static }}/img/product_5.jpg"/></a></div>
                <div class="view"><a class="btn" href="#"><span class="mui-icon mui-icon-search"></span><span>查看详情</span></a></div>
            </li>
            <li>
                <div class="title">通道门02</div>
                <div class="photo"><a href="#"><img src="{{ .static }}/img/product_6.jpg"/></a></div>
                <div class="view"><a class="btn" href="#"><span class="mui-icon mui-icon-search"></span><span>查看详情</span></a></div>
            </li>
            <li>
                <div class="title">通道门002</div>
                <div class="photo"><a href="#"><img src="{{ .static }}/img/product_7.jpg"/></a></div>
                <div class="view"><a class="btn" href="#"><span class="mui-icon mui-icon-search"></span><span>查看详情</span></a></div>
            </li>
            <li>
                <div class="title">通道门</div>
                <div class="photo"><a href="#"><img src="{{ .static }}/img/product_8.jpg"/></a></div>
                <div class="view"><a class="btn" href="#"><span class="mui-icon mui-icon-search"></span><span>查看详情</span></a></div>
            </li>
            <dl class="clear"></dl>
        </ul>
    </div>
    <div class="clear"></div>
</div>

{{ end }}