{{ define "main_panel" }}

<div class="carousel-single"><img src="{{ .static }}/img/adv_1.jpg"/></div>

<div class="container">

{{ template "left_menu" . }}

    <div class="main-panel">
        <ul class="ul-block3 ul-cert">
            <li>
                <div class="title">经典全系钢质-五福临门（土豪金）</div>
                <div class="photo"><a href="#"><img src="{{ .static }}/img/product_1.jpg"/></a></div>
                <div class="view"><a class="btn" href="#"><span class="mui-icon mui-icon-search"></span><span>查看详情</span></a></div>
            </li>
            <li>
                <div class="title">经典全系钢质-王者至尊</div>
                <div class="photo"><a href="#"><img src="{{ .static }}/img/product_2.jpg"/></a></div>
                <div class="view"><a class="btn" href="#"><span class="mui-icon mui-icon-search"></span><span>查看详情</span></a></div>
            </li>
            <li>
                <div class="title">经典全系钢质-王府庄园</div>
                <div class="photo"><a href="#"><img src="{{ .static }}/img/product_3.jpg"/></a></div>
                <div class="view"><a class="btn" href="#"><span class="mui-icon mui-icon-search"></span><span>查看详情</span></a></div>
            </li>
            <li>
                <div class="title">经典全系钢质-万年福</div>
                <div class="photo"><a href="#"><img src="{{ .static }}/img/product_4.jpg"/></a></div>
                <div class="view"><a class="btn" href="#"><span class="mui-icon mui-icon-search"></span><span>查看详情</span></a></div>
            </li>
            <dl class="clear"></dl>
        </ul>
    </div>
    <div class="clear"></div>
</div>

{{ end }}