{{ define "main_panel" }}

<div class="carousel-wrapper">
    <ul id="ul-carousel">
        <li><img src="/static/img/adv_1.jpg" alt=""></li>
        <li><img src="/static/img/adv_2.jpg" alt=""></li>
        <li><img src="/static/img/adv_3.jpg" alt=""></li>
        <li><img src="/static/img/adv_1.jpg" alt=""></li>
        <dl class="clear"></dl>
    </ul>
</div>

<div class="container">
    <!-- 公司新闻 -->
    <h2 class="section-title"><span>公司新闻</span></h2>
    <div class="section-body">
        <ul class="ul-articles">
            <li><a href="/articles/detail.html?id=20">
                <div class="calendar">
                    <div class="day">20</div>
                    <div class="month">2018-05</div>
                </div>
                <div class="abstract">
                    <h3>热烈祝贺：和乐门业第三届全国招商会圆满举行！</h3>
                    <p>经过精心的筹划，漫长的等待，合扬门业仁寿店终于于2017年9月8日盛大开业了！</p>
                </div>
            </a></li>
            <li><a href="/articles/detail.html?id=20">
                <div class="calendar">
                    <div class="day">20</div>
                    <div class="month">2018-05</div>
                </div>
                <div class="abstract">
                    <h3>热烈祝贺：和乐门业第三届全国招商会圆满举行！</h3>
                    <p>经过精心的筹划，漫长的等待，合扬门业仁寿店终于于2017年9月8日盛大开业了！</p>
                </div>
            </a></li>
            <li><a href="/articles/detail.html?id=20">
                <div class="calendar">
                    <div class="day">20</div>
                    <div class="month">2018-05</div>
                </div>
                <div class="abstract">
                    <h3>热烈祝贺：和乐门业第三届全国招商会圆满举行！</h3>
                    <p>经过精心的筹划，漫长的等待，合扬门业仁寿店终于于2017年9月8日盛大开业了！</p>
                </div>
            </a></li>
            <li><a href="/articles/detail.html?id=20">
                <div class="calendar">
                    <div class="day">20</div>
                    <div class="month">2018-05</div>
                </div>
                <div class="abstract">
                    <h3>热烈祝贺：和乐门业第三届全国招商会圆满举行！</h3>
                    <p>经过精心的筹划，漫长的等待，合扬门业仁寿店终于于2017年9月8日盛大开业了！</p>
                </div>
            </a></li>
            <dl class="clear"></dl>
        </ul>
        <div class="more"><a class="btn-micro" href="">更多...</a></div>
    </div>

    <!-- 公司产品 -->
    <h2 class="section-title"><span>公司产品</span></h2>
    <div class="section-body">
        <ul class="ul-block4 product-wrapper">
            <li><a href="#">
                <div class="img-closure"><img src="/static/img/product_1.jpg"/></div>
                <div class="item-title"><p>经典全系钢质-五福临门（土豪金）</p></div>
            </a></li>
            <li><a href="#">
                <div class="img-closure"><img src="/static/img/product_2.jpg"/></div>
                <div class="item-title"><p>经典全系钢质-王者至尊</p></div>
            </a></li>
            <li><a href="#">
                <div class="img-closure"><img src="/static/img/product_3.jpg"/></div>
                <div class="item-title"><p>经典全系钢质-王者至尊（仿铜）</p></div>
            </a></li>
            <li><a href="#">
                <div class="img-closure"><img src="/static/img/product_4.jpg"/></div>
                <div class="item-title"><p>经典全系钢质-王府庄园</p></div>
            </a></li>
            <dl></dl>
        </ul>
        <div class="more"><a class="btn-micro" href="">更多...</a></div>
    </div>


    <!-- 工程案例 -->
    <h2 class="section-title"><span>工程案例</span></h2>
    <div class="section-body">
        <ul class="ul-block4 case-wrapper">
            <li><a href="#">
                <div class="img-closure"><img src="/static/img/case_1.jpg"/></div>
                <div class="item-title"><p>经典全系钢质-王府庄园</p></div>
            </a></li>
            <li><a href="#">
                <div class="img-closure"><img src="/static/img/case_2.jpg"/></div>
                <div class="item-title"><p>经典全系钢质-王府庄园</p></div>
            </a></li>
            <li><a href="#">
                <div class="img-closure"><img src="/static/img/case_3.jpg"/></div>
                <div class="item-title"><p>经典全系钢质-王府庄园</p></div>
            </a></li>
            <li><a href="#">
                <div class="img-closure"><img src="/static/img/case_4.jpg"/></div>
                <div class="item-title"><p>经典全系钢质-王府庄园</p></div>
            </a></li>
            <dl></dl>
        </ul>
        <div class="more"><a class="btn-micro" href="">更多...</a></div>
    </div>


    <!-- 荣誉证书 -->
    <h2 class="section-title"><span>荣誉证书</span></h2>
    <div class="section-body">
        <ul class="ul-block4 credential-wrapper">
            <li><a href="#" title="ISO9001证书">
                <div class="img-closure"><img src="/static/img/credential_1.jpg" alt="ISO9001证书"/></div>
                <div class="item-title"><p>ISO9001证书</p></div>
            </a></li>
            <li><a href="#" title="Alibaba.com Assessed Supplier">
                <div class="img-closure"><img src="/static/img/credential_2.jpg" alt="Alibaba.com Assessed Supplier"/></div>
                <div class="item-title"><p>Alibaba.com Assessed Supplier</p></div>
            </a></li>
            <li><a href="#" title="四川省著名商标">
                <div class="img-closure"><img src="/static/img/credential_3.jpg" alt="四川省著名商标"/></div>
                <div class="item-title"><p>四川省著名商标</p></div>
            </a></li>
            <li><a href="#" title="民营企业100强">
                <div class="img-closure"><img src="/static/img/credential_3.jpg" alt="民营企业100强"/></div>
                <div class="item-title"><p>民营企业100强</p></div>
            </a></li>
            <dl></dl>
        </ul>
        <div class="more"><a class="btn-micro" href="">更多...</a></div>
    </div>

</div>

{{ end }}