<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" href="/static/css/base.css"/>
    <link rel="stylesheet" href="/static/css/common.css"/>
    <link rel="stylesheet" href="/static/css/index.css"/>
    <script type="text/javascript" src="/static/js/jquery.js"></script>
    <script type="text/javascript" src="/static/js/index.js"></script>
</head>
<body>
<header>
    <div id="header-top">
        <div class="container">
            <div class="company-name fl">你好，欢迎来到和乐门业官网！</div>
            <div class="company-contact fr"><i class="mui-icon mui-icon-phone-filled"></i><span>咨询电话：400-848-8481</span><i class="mui-icon mui-icon-qq"></i><span>028-66315219</span></div>
        </div>
    </div>
    <div id="header-menu">
        <div class="container">
            <div class="company-logo fl"><a href="/"><img src="/static/img/logo.jpg"/></a></div>
            <div class="big-menu fr tar">
                <a href="/">
                    <span>网站首页</span><span>HOME</span></a><a class="active" href="/about.html">
                <span>关于我们</span><span>ABOUT</span></a><a href="/about.html">
                <span>公司新闻</span><span>NEWS</span></a><a href="/about.html">
                <span>人力资源</span><span>PRODUCTS</span></a><a href="/about.html">
                <span>人力资源</span><span>HR</span></a><a href="/about.html">
                <span>技术支持</span><span>SUPPORT</span></a><a href="/about.html">
                <span>商务合作</span><span>BUSINESS</span></a>
            </div>
        </div>
    </div>
</header>

<div class="carousel-single"><img src="/static/img/adv_1.jpg"/></div>

<div class="container">
    <div class="left-menu">
        <ul class="ul-left-menu">
            <li><a class="active" href="/about.html"><div>关于我们</div></a></li>
            <li><a href="/about/culture.html"><div>企业文化</div></a></li>
            <li><a href="/about/credentials.html"><div>荣誉证书</div></a></li>
            <li><a href="/about/cert.html"><div>资质证书</div></a></li>
            <li><a href="/about/leader.html"><div>领导关怀</div></a></li>
        </ul>
    </div>
    <div class="main-panel">
        <h1 class="content-title">关于我们</h1>
        <div class="content-body">
            <p> 成都市和乐门业有限公司位于成都市青白江区工业集中发展区，是一家集防火门、防盗门、防火防盗门、钢质门、非标门、模压室内门、智能门等多种门类研发、生产、销售、物流和售后服务于一体的知名企业。企业总投资7.1亿元，建有专业生产线8条，日产高、中、低档门15000余樘，其中专业非标线日产可达1000余樘，是行业规模最大的企业之一。 </p>
            <p>公司自成立以来，始终坚持“市场为导向、技术为依托、质量为根本”和“共同发展、分享成功”的经营理念，坚持“以人为中心”的文化氛围，坚持上下齐心团结一 致的奋斗精神，坚持“忠诚、敬业、求实、上进”的企业精神，建立了完善的运营机制。公司具有奉献与创新精神的执行机构形成了亲和、诚信、快捷的管理风格， 科学的组织机构更加适应市场的竞争需要，团结、和谐的工作环境吸引了大量的优秀人才。</p>
            <p>公司拥有具备国际先进水平的自动化生产流水线和领先于同行业的制造技术，聚集了大批高素质的研发、生产、销售和管理人才，能够生产百余种不同材质、不同规格 和花型的高性价比防火门、进户门、室内门，能够根据客户需求进行弹性设计和柔性生产，能够为客户提供真诚、周到、热情的服务，能够保证与客户实现双赢。</p>
            <img src="/static/img/adv_1.jpg" style="height: 250px" alt="">
        </div>
    </div>
    <div class="clear"></div>
</div>

</body>
</html>