{{ define "main_panel" }}

<div class="carousel-single"><img src="{{ .static }}/img/adv_1.jpg"/></div>

<div class="container">

{{ template "left_menu" . }}

    <div class="main-panel">
        <h1 class="content-title">企业文化</h1>
        <ul class="ul-block3 ul-credentials">
            <li>
                <div class="title">ISO9001证书</div>
                <div class="photo"><a href="#"><img src="{{ .static }}/img/credential_1.jpg"/></a></div>
                <div class="view"><a class="btn" href="#"><span class="mui-icon mui-icon-search"></span><span>查看详情</span></a></div>
            </li>
            <li>
                <div class="title">ISO9001证书</div>
                <div class="photo"><a href="#"><img src="{{ .static }}/img/credential_2.jpg"/></a></div>
                <div class="view"><a class="btn" href="#"><span class="mui-icon mui-icon-search"></span><span>查看详情</span></a></div>
            </li>
            <li>
                <div class="title">ISO9001证书</div>
                <div class="photo"><a href="#"><img src="{{ .static }}/img/credential_3.jpg"/></a></div>
                <div class="view"><a class="btn" href="#"><span class="mui-icon mui-icon-search"></span><span>查看详情</span></a></div>
            </li>
            <li>
                <div class="title">ISO9001证书</div>
                <div class="photo"><a href="#"><img src="{{ .static }}/img/credential_4.jpg"/></a></div>
                <div class="view"><a class="btn" href="#"><span class="mui-icon mui-icon-search"></span><span>查看详情</span></a></div>
            </li>
            <dl class="clear"></dl>
        </ul>
    </div>
    <div class="clear"></div>
</div>

{{ end }}