{{ define "main_panel" }}

<div class="carousel-single"><img src="/static/img/adv_1.jpg"/></div>

<div class="container">

{{ template "left_menu" . }}
    <style>
        .content-body em{
            font-style: normal;
            color: red;
        }
    </style>
    <div class="main-panel">
        <h1 class="content-title">企业文化</h1>
        <div class="content-body">
            <p>经营理念和核心价值观： “<em>共同发展，分享成功</em>”</p>

            <p>我们的企业精神：忠诚、敬业、求实、上进”对企业忠诚、对事业忠诚、对朋友忠诚，有事业心，对公司、对自己、对社会有责任感，脚踏实地、积极向上。热爱自己的事业，团结一致，不断超越自我、超越同仁伙伴，时至今日，我们拥有了行业内规模和范围都非常庞大的营销网络体系以及高素质、高理念的员工队伍。在实践中总结经验教训，不断提高自己的知识水平和业务能力，并帮助身边的人同样获得提高，从而在组织的发展中确认自身价值所在。</p>

            <p>核心文化是 “<em>博弈 创新</em>”</p>

            <p>博弈：我们始终以博弈的姿态与我们的合作者以及我们的竞争者在行业领域中进行合作和竞争，最后达到共同发展、分享成功的目的。</p>

            <p>创新：是我们发展的源泉和动力。不断超越过去、不断进取，在成功的基础上积极探索新的方法和思路，我们激励员工的成功和发展，我们宽容员工的失败、支持员工的执着，我们为气馁、不思进取的员工感到可耻，我们为战胜困难、敢于挑战的员工感到骄傲。</p>

            <p>我们的团队哲学 “以人为本和谐创新”坚持以人为本，尊重人的劳动成果，承认人力资本的价值，为员工提供系统的培训和良性的竞争舞台、开阔的发展空间，最大限度地发挥与挖掘员工工作热情和创新潜力，保证我们团队始终保持“高活力”的创业激情。以“高效、热情、全力以赴”的工作态度，在超前的视野中开拓进取，在竞争的市场中勇攀高峰，用智慧和勤劳谱写奋斗之歌。</p>

            <p>我们的质量方针是 “追求完美品质 领先用户一步”公司要以可靠的技术生产优良产品，以最好的质量和最高的效率保持公司的生命力，以顾客为关注焦点，实现我们对顾客的承诺。</p>

        </div>
    </div>
    <div class="clear"></div>
</div>

{{ end }}