{{ define "footer" }}
<footer>
    <div class="container">
        <div class="footer-menu fl"><a href="#">网站首页</a><span>|</span>
            <a href="#">公司新闻</a><span>|</span>
            <a href="#">公司产品</a><span>|</span>
            <a href="#">关于我们</a><span>|</span>
            <a href="#">商务合作</a><span>备案号：|</span><a href="http://www.miibeian.gov.cn/">蜀ICP备16021376号</a></div>
        <div class="footer-copyright fr tar"><span>&copy; 2018</span><a href="/">成都市和乐门业有限公司[官网]</a></div>
    </div>
</footer>
{{ end }}