<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" href="/static/css/base.css"/>
    <link rel="stylesheet" href="/static/css/common.css"/>
    <link rel="stylesheet" href="/static/css/index.css"/>
    <script type="text/javascript" src="/static/js/jquery.js"></script>
    <script type="text/javascript" src="/static/js/index.js"></script>
</head>
<body>
<header>
    <div id="header-top">
        <div class="container">
            <div class="company-name fl">你好，欢迎来到和乐门业官网！</div>
            <div class="company-contact fr"><i class="mui-icon mui-icon-phone-filled"></i><span>咨询电话：400-848-8481</span><i class="mui-icon mui-icon-qq"></i><span>028-66315219</span></div>
        </div>
    </div>
    <div id="header-menu">
        <div class="container">
            <div class="company-logo fl"><a href="/"><img src="/static/img/logo.jpg"/></a></div>
            <div class="big-menu fr tar">
                <a class="active" href="/">
                <span>网站首页</span><span>HOME</span></a><a href="/about.html">
                <span>关于我们</span><span>ABOUT</span></a><a href="/about.html">
                <span>公司新闻</span><span>NEWS</span></a><a href="/about.html">
                <span>人力资源</span><span>PRODUCTS</span></a><a href="/about.html">
                <span>人力资源</span><span>HR</span></a><a href="/about.html">
                <span>技术支持</span><span>SUPPORT</span></a><a href="/about.html">
                <span>商务合作</span><span>BUSINESS</span></a>
            </div>
        </div>
    </div>
</header>



<div class="carousel-wrapper">
    <ul id="ul-carousel">
        <li><img src="/static/img/adv_1.jpg" alt=""></li>
        <li><img src="/static/img/adv_2.jpg" alt=""></li>
        <li><img src="/static/img/adv_3.jpg" alt=""></li>
        <li><img src="/static/img/adv_1.jpg" alt=""></li>
        <dl class="clear"></dl>
    </ul>
</div>

<div class="container">
    <!-- 公司新闻 -->
    <h2 class="section-title"><span>公司新闻</span></h2>
    <div class="section-body">
        <ul class="ul-articles">
            <li><a href="/articles/detail.html?id=20">
                <div class="calendar">
                    <div class="day">20</div>
                    <div class="month">2018-05</div>
                </div>
                <div class="abstract">
                    <h3>热烈祝贺：和乐门业第三届全国招商会圆满举行！</h3>
                    <p>经过精心的筹划，漫长的等待，合扬门业仁寿店终于于2017年9月8日盛大开业了！</p>
                </div>
            </a></li>
            <li><a href="/articles/detail.html?id=20">
                <div class="calendar">
                    <div class="day">20</div>
                    <div class="month">2018-05</div>
                </div>
                <div class="abstract">
                    <h3>热烈祝贺：和乐门业第三届全国招商会圆满举行！</h3>
                    <p>经过精心的筹划，漫长的等待，合扬门业仁寿店终于于2017年9月8日盛大开业了！</p>
                </div>
            </a></li>
            <li><a href="/articles/detail.html?id=20">
                <div class="calendar">
                    <div class="day">20</div>
                    <div class="month">2018-05</div>
                </div>
                <div class="abstract">
                    <h3>热烈祝贺：和乐门业第三届全国招商会圆满举行！</h3>
                    <p>经过精心的筹划，漫长的等待，合扬门业仁寿店终于于2017年9月8日盛大开业了！</p>
                </div>
            </a></li>
            <li><a href="/articles/detail.html?id=20">
                <div class="calendar">
                    <div class="day">20</div>
                    <div class="month">2018-05</div>
                </div>
                <div class="abstract">
                    <h3>热烈祝贺：和乐门业第三届全国招商会圆满举行！</h3>
                    <p>经过精心的筹划，漫长的等待，合扬门业仁寿店终于于2017年9月8日盛大开业了！</p>
                </div>
            </a></li>
            <dl class="clear"></dl>
        </ul>
        <div class="more"><a class="btn-micro" href="">更多...</a></div>
    </div>

    <!-- 公司产品 -->
    <h2 class="section-title"><span>公司产品</span></h2>
    <div class="section-body">
        <ul class="ul-block4 product-wrapper">
            <li><a href="#">
                <div class="img-closure"><img src="/static/img/product_1.jpg"/></div>
                <div class="item-title"><p>经典全系钢质-五福临门（土豪金）</p></div>
            </a></li>
            <li><a href="#">
                <div class="img-closure"><img src="/static/img/product_2.jpg"/></div>
                <div class="item-title"><p>经典全系钢质-王者至尊</p></div>
            </a></li>
            <li><a href="#">
                <div class="img-closure"><img src="/static/img/product_3.jpg"/></div>
                <div class="item-title"><p>经典全系钢质-王者至尊（仿铜）</p></div>
            </a></li>
            <li><a href="#">
                <div class="img-closure"><img src="/static/img/product_4.jpg"/></div>
                <div class="item-title"><p>经典全系钢质-王府庄园</p></div>
            </a></li>
            <dl></dl>
        </ul>
        <div class="more"><a class="btn-micro" href="">更多...</a></div>
    </div>


    <!-- 工程案例 -->
    <h2 class="section-title"><span>工程案例</span></h2>
    <div class="section-body">
        <ul class="ul-block4 case-wrapper">
            <li><a href="#">
                <div class="img-closure"><img src="/static/img/case_1.jpg"/></div>
                <div class="item-title"><p>经典全系钢质-王府庄园</p></div>
            </a></li>
            <li><a href="#">
                <div class="img-closure"><img src="/static/img/case_2.jpg"/></div>
                <div class="item-title"><p>经典全系钢质-王府庄园</p></div>
            </a></li>
            <li><a href="#">
                <div class="img-closure"><img src="/static/img/case_3.jpg"/></div>
                <div class="item-title"><p>经典全系钢质-王府庄园</p></div>
            </a></li>
            <li><a href="#">
                <div class="img-closure"><img src="/static/img/case_4.jpg"/></div>
                <div class="item-title"><p>经典全系钢质-王府庄园</p></div>
            </a></li>
            <dl></dl>
        </ul>
        <div class="more"><a class="btn-micro" href="">更多...</a></div>
    </div>


    <!-- 荣誉证书 -->
    <h2 class="section-title"><span>荣誉证书</span></h2>
    <div class="section-body">
        <ul class="ul-block4 credential-wrapper">
            <li><a href="#" title="ISO9001证书">
                <div class="img-closure"><img src="/static/img/credential_1.jpg" alt="ISO9001证书"/></div>
                <div class="item-title"><p>ISO9001证书</p></div>
            </a></li>
            <li><a href="#" title="Alibaba.com Assessed Supplier">
                <div class="img-closure"><img src="/static/img/credential_2.jpg" alt="Alibaba.com Assessed Supplier"/></div>
                <div class="item-title"><p>Alibaba.com Assessed Supplier</p></div>
            </a></li>
            <li><a href="#" title="四川省著名商标">
                <div class="img-closure"><img src="/static/img/credential_3.jpg" alt="四川省著名商标"/></div>
                <div class="item-title"><p>四川省著名商标</p></div>
            </a></li>
            <li><a href="#" title="民营企业100强">
                <div class="img-closure"><img src="/static/img/credential_3.jpg" alt="民营企业100强"/></div>
                <div class="item-title"><p>民营企业100强</p></div>
            </a></li>
            <dl></dl>
        </ul>
        <div class="more"><a class="btn-micro" href="">更多...</a></div>
    </div>

</div>


<footer>
    <div class="container">
        <div class="footer-menu fl"><a href="#">网站首页</a><span>|</span>
            <a href="#">公司新闻</a><span>|</span>
            <a href="#">公司产品</a><span>|</span>
            <a href="#">关于我们</a><span>|</span>
            <a href="#">商务合作</a><span>备案号：|</span><a href="http://www.miibeian.gov.cn/">蜀ICP备16021376号</a></div>
        <div class="footer-copyright fr tar"><span>&copy; 2018</span><a href="/">成都市和乐门业有限公司[官网]</a></div>
    </div>
</footer>
</body>
</html>