{{ define "main_panel" }}

<div class="carousel-single"><img src="{{ .static }}/img/adv_2.jpg"/></div>

<div class="container">

{{ template "left_menu" . }}

    <div class="main-panel">
        <h1 class="content-title">公司新闻</h1>

        <ul class="ul-line">
            <li><a class="top-news" href="#">

                <small>2016-09-12</small>
                <h2>2016年2月25青白江区区委书记到和乐门业参观</h2>
                <p>热烈欢迎青白江区区委书记到和乐门业参观2016年2月25日，成都市青白江区区委书记莅临我公司位于成都市青白江区的工业生产基地现场参观考察，并就青白江区生产基地门产品的研发生产能力、管理情况及进一步的.....详细>></p>
            </a></li>

        </ul>



    </div>
    <div class="clear"></div>
</div>

{{ end }}