{{ define "main_panel" }}

<div class="carousel-single"><img src="{{ .static }}/img/adv_2.jpg"/></div>

<div class="container">

{{ template "left_menu" . }}

    <div class="main-panel">
        <h1 class="content-title">公司新闻</h1>

        <div class="content-body">
            <h2>和乐门业—— 植树添绿 责任与发展同行</h2>
            <small>2017-03-14</small>
            <p>春回大地，万物复苏。寒冷冬天的逝去，一年一度的植树节迎面扑来。中国的植树节开始时是为纪念孙中山先生逝世，1979年2月23日人大会议决定仍以3月12日为中国的植树节，以鼓励全国各族人民植树造林，绿化祖国，改善环境，造福子孙后代。</p>
        </div>
    </div>
    <div class="clear"></div>
</div>

{{ end }}