{{ define "main_panel" }}

<div class="container">

{{ template "left_menu" . }}

    <div class="main-panel">
        <h1 class="content-title">工程案例</h1>
        <ul class="ul-block3 ul-cert">
            <li>
                <div class="title"> 成都市蓝光·空港国际项目部分入户门安装</div>
                <div class="photo"><a href="#"><img src="{{ .static }}/img/adv_1.jpg"/></a></div>
                <div class="view"><a class="btn" href="#"><span class="mui-icon mui-icon-search"></span><span>查看详情</span></a></div>
            </li>
            <li>
                <div class="title"> 河南省郑州市万科城二期入户门安装</div>
                <div class="photo"><a href="#"><img src="{{ .static }}/img/adv_2.jpg"/></a></div>
                <div class="view"><a class="btn" href="#"><span class="mui-icon mui-icon-search"></span><span>查看详情</span></a></div>
            </li>
            <li>
                <div class="title">天津市宝能东丽住宅苑入户门安装</div>
                <div class="photo"><a href="#"><img src="{{ .static }}/img/adv_3.jpg"/></a></div>
                <div class="view"><a class="btn" href="#"><span class="mui-icon mui-icon-search"></span><span>查看详情</span></a></div>
            </li>
            <li>
                <div class="title">陕西省西安市（万科金域东郡）入户门安装</div>
                <div class="photo"><a href="#"><img src="{{ .static }}/img/case_4.jpg"/></a></div>
                <div class="view"><a class="btn" href="#"><span class="mui-icon mui-icon-search"></span><span>查看详情</span></a></div>
            </li>
            <dl class="clear"></dl>
        </ul>
    </div>
    <div class="clear"></div>
</div>

{{ end }}